* {
    font-family: monospace;
    color: white;
}

#window {
    background-color: transparent;
}

#input {
    display: none;
    margin: -1000px 5px;
    visibility: hidden;
}

#inner-box {
    background-color: --wofi-color9;
}

#outer-box {
    margin: 0px;
    padding:20px;
    background-color: --wofi-color9;
    border-radius: 10px;
}

#entry {
    border-radius: 5px;
}

#scroll {
    margin-top: 10px;
}

#text {
    padding: 5px;
}

#entry:nth-child(even){
    background-color: --wofi-color9;
}

#entry:selected {
    background-color: --wofi-color11;
    outline: none;
}

#entry {
    outline: none;
}

#text:selected {
}
